<canvas #canvasEl id="myCanvas" width="840" height="420" style="width: 100%;"></canvas>
<div class="d-flex justify-content-center align-items-center">
    <form [formGroup]="textForm">
        <mat-form-field>
             <input formControlName="upperText" placeholder="Upper Text" matInput>
        </mat-form-field>
        <mat-form-field class="m-3">
            <input formControlName="LowerText" placeholder="Lower Text" matInput>
        </mat-form-field>
    </form>
</div>
<div class="d-flex justify-content-center align-items-center">
    <button mat-button (click)="downloadImage()">Download</button>
</div>