img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

#myfile {
    position: fixed;
    top: -100px;
    left: -100px;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    }